.login-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;

  .left-side {
    background: linear-gradient(to right, #f97316, #ef4444);
  }

  .right-side {
    padding: 2rem;
  }

  .uni-name {
    margin-bottom: 2rem;
  }

  .full-width {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .lable-text {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .forgot-password {
    cursor: pointer;
    font-weight: 500;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
